body {
    background-color: rgb(178, 194, 199);
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
    background-size: cover;
    font: 10pt Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

.container {
    margin: auto;
    width: 1000px;
}

.verh {
    background: #D1C4C4;
    background-color: #3AA0E1;
    width: 1000px;
    height: 120px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 10px;
}

.verh2,
.verh3 {
    clear: left;
    background: #3AA0E1;
    width: 980px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.verh3 {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.left {
    float: left;
    width: 700px;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding-left: 80px;
    text-decoration: none;
}



.menu {
    background-color: #F3E8E8;
    border: 1px solid #000000;
    width: 500px;
    margin-top: 500px;
    padding-left: 500px;
    clear: right;
    margin: auto;
    font-size: 25px;
}

a {
    color: #000;
    /* Цвет обычной ссылки */
    text-decoration: none;
    /* Убираем подчеркивание у ссылок */
}

a:visited {
    color: #333;
    /* Цвет посещённой ссылки */
}

a:hover {
    color: #0000ff;
    /* Цвет ссылки при наведении на нее курсора мыши */
}

.blok .blok3 a {
    font-size: 14pt;
}

#mainmenu {
    position: relative;
    border: 1px solid #222;
    background-color: #111;
    background-image: -o-linear-gradient(#444, #111);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -o-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -ms-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    height: 40px;
    margin: 5px auto;
    padding: 0;
    width: 1000px;
    z-index: 10;
    text-align: center;
}

#mainmenu ul,
#mainmenu ul ul,
#mainmenu ul ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#mainmenu ul {
    clear: left;
    position: relative;
    right: 50%;
    height: 40px;
    float: right;
    text-align: center;
    font: 12px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#mainmenu ul li {
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    -moz-box-shadow: 1px 0 0 #444;
    -o-box-shadow: 1px 0 0 #444;
    -ms-box-shadow: 1px 0 0 #444;
    -webkit-box-shadow: 1px 0 0 #444;
    position: relative;
    left: 30%;
    float: left;
    height: 39px;
    text-align: center;
}


#mainmenu ul li a {
    display: block;
    color: #ccc;
    text-decoration: none;
    padding: 13px 25px;
}

#mainmenu ul > li:hover > a {
    background-color: #3aa0e1;

}
